---
layout: default
---

{% if page.url contains "study" %}
<div>
  {% include sidebar_study.html %}
</div>
{% endif %} {% if page.url contains "project" %}
<div>
  {% include sidebar_project.html %}
</div>
{% endif %}
<div class="container">
  <article class="post">
    {% include backToTopButton.html %}
    <h1>{{ page.title }}</h1>
    <div class="date">
      <span style="vertical-align:middle;">Written on {{ page.date | date: "%B %e, %Y" }}</span>
      <span style="text-align: center;">
          <img style="vertical-align:middle; margin:0;"
          src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url }}{{ page.url }}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"
        />     
      </span>
  </div>
    <div class="entry">
      {{ content }}
    </div>
    {% include dailyEnglish.html %} {% include dailyJapanese.html %} {% include
    disqus.html %}
  </article>
</div>
